<?xml version='1.0' encoding='utf-8'?>
<widget 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="com.luckykat.app" 
    version="1.0.0"
    ios-CFBundleVersion="1"
    android-versionCode="1"
>
    <name>Bento Empty Project</name>
    <description>
        A sample Bento + Cordova application.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^8.0.0" />
    <engine name="ios" spec="^5.0.0" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="WKPort" value="8080" />

    <platform name="ios">
        <icon src="res/ios/icon-20.png" width="20" height="20" />
        <icon src="res/ios/icon-20@2x.png" width="40" height="40" />
        <icon src="res/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="res/ios/icon-29.png" width="29" height="29" />
        <icon src="res/ios/icon-29@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-29@3x.png" width="87" height="87" />
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon-40@3x.png" width="120" height="120" />
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/ios/icon-50@3x.png" width="150" height="150" />
        <icon src="res/ios/icon-57.png" width="57" height="57" />
        <icon src="res/ios/icon-57@2x.png" width="114" height="114" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/ios/icon-120.png" width="120" height="120" />
        <icon src="res/ios/icon-512.png" width="512" height="512" />
        <icon src="res/ios/icon-512@2x.png" width="1024" height="1024" />
        <splash src="res/screens/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="android">
        <!-- Legacy icons -->
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
        <!-- Adaptive icons -->
        <resource-file src="res/android/mipmap-anydpi-v26/ic_launcher.xml" target="app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml" />
        <resource-file src="res/android/mipmap-hdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-hdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="res/android/mipmap-hdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-hdpi-v26/ic_launcher_background.png" />
        <resource-file src="res/android/mipmap-mdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-mdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="res/android/mipmap-mdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-mdpi-v26/ic_launcher_background.png" />
        <resource-file src="res/android/mipmap-xhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xhdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="res/android/mipmap-xhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xhdpi-v26/ic_launcher_background.png" />
        <resource-file src="res/android/mipmap-xxhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="res/android/mipmap-xxhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_background.png" />
        <resource-file src="res/android/mipmap-xxxhdpi-v26/ic_launcher_foreground.png" target="app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_foreground.png" />
        <resource-file src="res/android/mipmap-xxxhdpi-v26/ic_launcher_background.png" target="app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_background.png" />
    </platform>

    <!-- Settings -->
    <preference name="Orientation" value="portrait"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="AllowInlineMediaPlayback" value="true"/>

    <!-- Include plugins here -->
    <plugin name="cordova-plugin-device" spec="*"/>
    <plugin name="cordova-plugin-inappbrowser" spec="*" />
    
</widget>
